@use "./variables.scss" as *;

// put your custom CSS here!

// 文章總覽：一般文章
.explorer-content a {
  color: var(--darkgray);
  opacity: 0.75;
  transition:
    color 0.15s ease,
    background-color 0.15s ease,
    opacity 0.15s ease;
}

// 滑鼠移到文章上
.explorer-content a:hover {
  color: var(--secondary);
  opacity: 1;
}

// 目前正在閱讀的文章
.explorer-content a.active,
.explorer-content a[aria-current="page"] {
  color: var(--secondary);
  background: var(--highlight);
  border-radius: 5px;
  font-weight: 700;
  opacity: 1;
}